extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      h2 The Problem
      p
        |As it stands currently, most employees in the grocery industry do not show up to work with a clearly defined goal. The work culture that revolves around the industry does not focus on individual goals, rather it is focused on the overall goal of ever-increasing profits. The employee’s ability to find, set, and achieve individual goals takes a backseat to the overarching goal. This is the root of the problem. If employees continue to show up to work without defining their own goals, whether they are short-term or long-term, there will be a lack of motivation and engagement.
        <br /><br />
      h2 The Solution
      p
        |PromoteMe is a web application that provides users the opportunity to set and track their progress towards goals at work. Employees will receive feedback from their managers and tips on how they can adapt to meet their goals faster. For each goal or achievement accomplished at work, employees will be rewarded badges to commemorate their hard work. Additionally, PromoteMe will provide resources for users to follow a defined path that will lead to better opportunities within the workplace.
        <br /><br />
        
        h2 Goals
        ul
          li Create more engagement for new and veteran employees.
          li Increase overall work productivity.
          li Increase workplace morale and culture.
          li Empower employees to do and achieve more at work.
          li Decrease stress on management from high levels of turnover.
        <br /><br />
        
