extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed enim ut sem viverra aliquet eget. In iaculis nunc sed augue lacus viverra. Sed augue lacus viverra vitae congue eu consequat ac. Sapien pellentesque habitant morbi tristique senectus et netus et. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Amet nisl suscipit adipiscing bibendum est. Id cursus metus aliquam eleifend mi in nulla posuere sollicitudin. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Ullamcorper a lacus vestibulum sed. Tristique senectus et netus et malesuada fames ac. Sed adipiscing diam donec adipiscing tristique risus. At urna condimentum mattis pellentesque id nibh tortor. Urna nec tincidunt praesent semper feugiat nibh sed. Et ligula ullamcorper malesuada proin libero. Tellus molestie nunc non blandit massa enim. Morbi quis commodo odio aenean sed adipiscing diam. At imperdiet dui accumsan sit amet nulla facilisi.
        <br /><br />
        
        |Sit amet aliquam id diam maecenas ultricies mi eget. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Quis eleifend quam adipiscing vitae. Integer vitae justo eget magna fermentum iaculis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Id consectetur purus ut faucibus pulvinar. Facilisis magna etiam tempor orci eu. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Lectus urna duis convallis convallis tellus id interdum. At urna condimentum mattis pellentesque id nibh tortor. Vehicula ipsum a arcu cursus vitae congue mauris.
        <br /><br />
        
        |Commodo odio aenean sed adipiscing diam. Libero justo laoreet sit amet cursus sit amet. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Lorem dolor sed viverra ipsum. Id interdum velit laoreet id donec. Sit amet justo donec enim. Et molestie ac feugiat sed lectus. Non blandit massa enim nec dui nunc mattis enim. Arcu dictum varius duis at consectetur lorem donec massa. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Sed vulputate odio ut enim blandit volutpat. Duis at consectetur lorem donec massa sapien faucibus et. Velit euismod in pellentesque massa. Felis donec et odio pellentesque diam volutpat commodo sed. Nunc sed blandit libero volutpat sed cras ornare arcu dui. Duis at tellus at urna condimentum mattis pellentesque id. Condimentum lacinia quis vel eros donec. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices.
        <br /><br />
        
