extends layout
block content
  .row.banner
    .col-12
      h1 Feedback
  .row
    .col-12.col-md-8
      .card
        .card-body
          form.form-horizontal(action=`/employees/${employee._id}/feedback` method="POST")
            .form-group
              label.control-label(for="feedback") Feedback for #{employee.firstName} #{employee.lastName}
              textarea.form-control(name="comment")
            .form-group
              label.control-label(for="author") Author
              input.form-control(type="text" name="author")
            button.btn.btn-primary.col-10(type='submit') Submit
